:root {
    // Primary
    --color-primary: #98C74D;
    --color-primary-dark: #88B245;
    --color-primary-light: #CBE3A6;
    --color-primary-lighter: #E9F3D9;
    // Secondary
    --color-secondary: #A800F2;
    --color-secondary-dark: #5F00E4;
    --color-secondary-light: #D678FF;
    --color-secondary-lighter: #F3D8FF;
    // UI
    --color-title: #24272B;
    --color-text: #1E1E1E;
    --color-link: #2271B1;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-success: #388E3C;
    --color-warning: #F57C00;
    --color-error: #D32F2F;
    // Contrast
    --color-white: #FFFFFF;
    --color-off-white: #F5F6FB;
    --color-black: #000000;
    --color-success-contrast: #DFF2E0;
    --color-warning-contrast: #FFE3C6;
    --color-error-contrast: #F6D3D3;
    --color-canvas: #FDFDFD;
}

html {
    @media screen and (min-width: 782px) {
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
    }
}

body.toplevel_page_mojo {
    --wp-admin-theme-color: var(--color-primary);
    --wp-admin-theme-color-darker-10: var(--color-primary-dark);
    --wp-admin-theme-color-darker-20: var(--color-text);
    --wp-admin-border-width-focus: 2px;
    --mojobrand-focus: inset 0 0 0 1px var(--color-white),0 0 0 var(--wp-admin-border-width-focus) var(--color-secondary-dark);
    
    a {
        color: var(--color-link);
    }
    
    @media screen and (max-width:782px) {
        .wp-responsive-open #wpbody {
            right: -190px; // only when mobile admin menu open
        }
    }
    #wpwrap {
        background-color: var(--color-canvas);
    }
    #wpcontent {
        padding-left: 0 !important;
    }

    #wpadminbar .ab-top-menu {
        li {
            transition: opacity .33s ease;
        }
        .hideme {
            max-height: 32px;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            width: 0;
        }
    }
    
    #wpbody-content .notice,
    #wpbody-content #dolly,
    #wpbody-content .update-nag {
        display: none;
    }
    #wpbody-content .newfold-notifications-wrapper .notice {
        display: block;
    }

}
.wppm {

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }
    .wppm-nav a {
        color: var(--color-text);
    }
    p, div {
        font-size: 15px;
    }

    .components-button {
        font-size: 15px;
        font-weight: 500;
        transition: all 0.25s ease;
        white-space: nowrap;

        .dashicons, .dashicons-before:before {
            transition: all .25s ease;
        }

        &:focus:not(:disabled) {
            box-shadow: var(--mojobrand-focus);
        }

        &.is-primary,
        &[variant="primary"] {
            background-color: var(--color-primary);
            color: var(--color-white);
        }

        &.is-secondary,
        &[variant="secondary"] {
            border-color: var(--color-primary);
            box-shadow: inset 0 0 0 1px var(--color-primary);
            color: var(--color-primary);
        }

        &:last-child {
            padding-right: 1rem; /* <= WP 5.8 */
        }

        &.has-icon {
            padding-right: 1rem;

            .dashicon {
                margin-right: 10px; /* <= WP 5.6 */
            }
        }
    }
    a:focus {
        box-shadow: var(--mojobrand-focus);
        outline: 0;
    }
    .components-base-control__help,
    .components-radio-control__option label span span {
        margin-top: 0.25rem;
    }
}
.wppm, .wppm * {
    box-sizing: border-box;
}

// .wppm-app-body {
//     padding: 3.25rem 24px 1rem;

//     &-inner {
//         max-width: 1600px;
//         margin-left: auto;
//         margin-right: auto;
//         width: 95%;
//     }

//     @media screen and (max-width:782px) {
//         padding-top: 2.5rem;
//     }
// }

.components-snackbar__content {
    // color: var(--dc-theme-grey--light4) !important;
}

.grid {
    display: grid;
    gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);
    padding: 0.5rem;
    &.col2,
    &.col3,
    &.col4 {
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    &.col3,
    &.col4 {
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    &.col4 {
        @media screen and (min-width: 1020px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

.wppm-app-snackbar {
    padding: 0 24px;
    position: relative;

    .components-snackbar-list {
        bottom: .5rem;
        position: fixed;
    }
}

.wppm {
    .components-card {

        &.short {
            margin-bottom: auto;
        }

        &.disabled {
            opacity: .5;
        }
    }

    .components-card__header {
        background-color: var(--color-off-white);
    }

    .components-card-body,
    .components-card__body {
        line-height: 1.45;

        &.disabled {
            opacity: .5;
        }
    }
}

.components-card {
    border-bottom: 1px solid var(--color-primary);
}

.nfd-animation-blink {
    animation: blink 2.5s ease 1s 3 normal forwards;
}

@keyframes blink {
	0%,
	50%,
	100% {
		background-color: initial;
	}

	25%,
	75% {
		background-color: #e9f1fd;
	}
}

.nfd-disabled {
    opacity: .5;
    pointer-events: disabled;
}