name: Lint PHP
on:
  push:
    paths:
      - '**.php'
    pull_request:
      types: [ opened, edited, reopened, ready_for_review ]
      paths:
        - '**.php'
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true
jobs:
  lint-php:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup PHP
        uses: shivammathur/setup-php@20529878ed81ef8e78ddf08b480401e6101a850f # v2.35.3
        with:
          php-version: '7.4'
          coverage: none
          tools: composer, phpcs

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install PHP Dependencies
        run: composer install --no-progress

      - name: Get changed files
        uses: technote-space/get-diff-action@f27caffdd0fb9b13f4fc191c016bb4e0632844af # v6.1.2
        with:
          SUFFIX_FILTER: .php

      - name: Detecting PHP Code Standards Violations
        run: vendor/bin/phpcs --colors -s ${{ env.GIT_DIFF }}
        if: "!! env.GIT_DIFF"
